# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
# version: 2.1

version: 2.1
orbs:
  node: circleci/node@5.0.2
  coveralls: coveralls/coveralls@x.y.z

jobs:
  build_and_test:
    docker:
      - image: cimg/node:17.9.0-browsers
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: yarn test
          name: Run tests
      - run:
          command: yarn start
          name: Run the server for integration tests
          background: true
      - run:
          command: yarn run lint
          name: Lint App
      - run:
          command: yarn build
          name: Build app
      - run:
          command: yarn run test:e2e
          name: Run integration tests
      - run:
          command: yarn run coveralls
          name: Run code coverage report and upload to coveralls
      - persist_to_workspace:
          root: ~/project
          paths:
            - .
  # code_coverage:
  #   build:
  #     docker:
  #       - image: 'cimg/node:17.9.0-browsers'
  #     steps:
  #       - checkout
  #       - run:
  #         - node/install-packages:
  #           pkg-manager: yarn





workflows:
  on_commit:
    jobs:
      - build_and_test

